---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "May 2021 - Present",
    title: "Software Engineering Student",
    place: "Escuela Politécnica Nacional",
    description: "bla",
  },
  {
    date: "Dec 2024 - Present",
    title: "Event Operations Member",
    place: "Imagen Sistemas, EPN",
    description: "bla",
  },
  {
    date: "Oct 2024 - Feb 2025",
    title: "Tutor Volunteer",
    place: "LudoLab, EPN",
    description: "bla",
  },
];
---

<ol class="relative">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
