---
interface Props {
  id?: string;
  sectionClass?: string;
  paddingClass?: string;
  containerClass?: string;
}

const { id, sectionClass = "", paddingClass = "py-14 sm:py-22 lg:py-26", containerClass = "" } = Astro.props;
---

<section id={id} class={`px-4 sm:px-6 bg-black text-white ${paddingClass} ${sectionClass}`}>
  <div class={`mx-auto max-w-7xl ${containerClass}`}>
    <slot />
  </div>
</section>
